HELP.md

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment ###
.env

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### OS ###
Thumbs.db
.DS_Store
